| ---
| layout: default
| title: Sam Hollenbeck
| ---
| &nbsp;

img(src="/images/SamHollenbeck.jpg", alt="Sam Hollenbeck", style="width: 25%")
h1
    a#our-purpose.anchor(href='#joseph-jin', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Sam Hollenbeck
p
    | Sam Hollenbeck is our club's graphics/IP manager.
ul
    li
        | Maintains graphics.
    li
        | Authorizes all major changes in graphics usage.
    li
        | Responsible for applications graphics and design.
    li
        | Responsible to protect our intellectual property and enforce content licenses.
    li
        | Responsible to ensure we are not engaging in copyright/trademark/patent violations.