| ---
| layout: default
| title: Homepage
| ---
| &nbsp;

h1
    a#our-purpose.anchor(href='#our-purpose', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Our Purpose
p
    | The Westlake Accessible Programming Club, or simply APC, is an in-school venture to help explain basic logical
    | concepts in a way that tailors to students’ individual learning styles. With three skilled mentors secured for
    | the club, (
    a(href="{{ '/profiles/josephjin.html' | relative_url }}")
        | Joseph Jin
    | ,&nbsp;
    a(href="{{ '/profiles/elibradley.html' | relative_url }}")
        | Eli Bradley
    | , and&nbsp;
    a(href="{{ '/profiles/samhollenbeck.html' | relative_url }}")
        | Sam Hollenbeck
    | ,) whose games and utilities have already managed to pass
    | Apple’s strict App Review process, we think exploration of the concepts that power everything from server to
    | front-end will be easier than ever. Also, we aim to recruit the best of our members into the board for our app
    | publisher, the ‘API Abusers.’
h1
    a#current-projects.anchor(href='#current-projects', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Current Projects
table
    tr#NeuralKit
        td(style='width: 25%')
            a(href='https://github.com/WestlakeAPC/NeuralKit', target='_blank')
                img.project-icon(src='images/NeuralKit.png', alt="NeuralKit")
        td
            a(href='https://github.com/WestlakeAPC/NeuralKit', target='_blank', style='color: #606c71; text-decoration:none;')
                h1
                    | NeuralKit
                | A Swift 3.0 library meant as a skeleton for low-level neural nets and other important models in deep
                | learning. It's also meant to teach a bit about data structures in the newest version of Swift.
    tr#SwiftVCS
        td(style='width: 25%')
            a(href='https://github.com/WestlakeAPC/swift-vcs', target='_blank')
                img.project-icon(src='images/SwiftVCS.png', alt="NeuralKit")
        td
            a(href='https://github.com/WestlakeAPC/swift-vcs', target='_blank', style='color: #606c71; text-decoration:none;')
                h1
                    | Swift VCS
                | A Swift 3.0 application meant to manage an interface to all sorts of&nbsp;
                code
                    | git
                | &nbsp;providers, like GitHub Enterprise and GitLab CE/EE servers.
h1
    a#archived-projects.anchor(href='#archived-projects', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Archived Projects
table
    tr#DeathDodger
        td(style='width: 25%')
            a(href='https://github.com/WestlakeAPC/death-dodger', target='_blank')
                img.project-icon(src='images/deathdodger.png', alt="Death Dodger")
        td
            a(href='https://github.com/WestlakeAPC/death-dodger', target='_blank', style='color: #606c71; text-decoration:none;')
                h1
                    | Death Dodger
                | Our first game: You need to move Jim left and right to avoid being killed by the Falling Sky Knives
                | in this awesome SpriteKit template. Free to use and free to play from the monkeys behind the curtain.
    tr#FlappySmasher
        td(style='width: 25%')
            a(href='https://github.com/WestlakeAPC/flappy-smasher', target='_blank')
                img.project-icon(src='images/flappysmasher.png', alt="Flappy Smasher")
        td
            a(href='https://github.com/WestlakeAPC/flappy-smasher', target='_blank', style='color: #606c71; text-decoration:none;')
                h1
                    | Flappy Smasher
                | A simple Swift 3.0 game, targeting the iOS/tvOS SDK 9.3, about shooting down flappy birds. We think
                | it's a great resource to learn about Collection type behaviour in the newest version of Swift.
    tr#ImmolationOrganization
        td(style='width: 25%')
            a(href='https://github.com/WestlakeAPC/game-off-2016', target='_blank')
                img.project-icon(src='images/ImmolationOrganization.png', alt="Immolation Organization")
        td
            a(href='https://github.com/WestlakeAPC/game-off-2016', target='_blank', style='color: #606c71; text-decoration:none;')
                h1
                    | Immolation Organization
                | Our 2016 submission to the GitHub Game Off (We won!), and the prequel to&nbsp;
                i
                    | Death Dodger.&nbsp;
                | In it, you&nbsp;
                i
                    | moderate&nbsp;
                | a mob of baddies with the intent of&nbsp;
                i
                    | hacking&nbsp;
                | away at and destroying alien spacecrafts!
    tr#HWWTGO
        td(style='width: 25%')
            a(href='https://github.com/WestlakeAPC/game-off-2016', target='_blank')
                img.project-icon(src='images/ImmolationOrganization.png', alt="HWWTGO")
        td
            a(href="{{ '/documents/HWWTGO.pdf' | relative_url }}", target='_blank', style='color: #606c71; text-decoration:none;')
                h1
                    | How We Won the Game Off, By Eli B.
                | The story of our decision to study and procrastinate&mdash;giving us only six days to develop one of GitHub’s favorite games.&nbsp;
            a(href="{{ '/documents/HWWTGO.pages' | relative_url }}", target='_blank', style='color: #606c71; text-decoration:none;')
                | View the source here.
    tr#GPACalulator
        td(style='width: 25%')
            a(href='https://github.com/WestlakeAPC/gpa-calculator', target='_blank')
                img.project-icon(src='images/WestlakeGPA.png', alt="NeuralKit")
        td
            a(href='https://github.com/WestlakeAPC/gpa-calculator', target='_blank', style='color: #606c71; text-decoration:none;')
                h1
                    | Westlake GPA
                | A Swift 3.0 application for managing course grades and GPA. It shows how to add and implement
                | complex cell-based UIViews and data serialization in the latest version of Swift.
h1
    a#meeting-schedule.anchor(href='#meeting-schedule', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Meeting Schedule
p
    | Meetings will happen in Mr. Rosier's room (276) at 4:15 PM on Thursdays, and may last for about an hour. We
    | encourage you to come and see what's up! However, the meetings are always voluntary for students. We can always
    | message you the meeting summaries, and in fact, most work gets done elsewhere! Whatever schedule complications
    | you have, we're willing to adapt to them.
h4
    b NOTE:&nbsp;
    | During the summer, meetings usually occur on Sundays, but the time and place is always subject to change.
    | Please check our&nbsp;
    a(href="#want-to-join-yet") Slack&nbsp;
    | to see when we schedule our meetings.
h1
    a#want-to-join-yet.anchor(href='#want-to-join-yet', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Want to join yet?
p
    | All Eanes ISD students are eligible to participate! Contact&nbsp;
    a(href='mailto:elijos03@gmail.com') Eli Bradley
    | ,&nbsp;
    a(href='mailto:josephjin7@gmail.com') Joseph Jin
    | , or&nbsp;
    a(href='mailto:lrosier@eanesisd.net') Lynn Rosier&nbsp;
    | for more information on signing up. If you just can't
    | wait, you can start today by signing up for our Slack group&nbsp;
    script(async='', defer='', src='https://westlakeapc.herokuapp.com/slackin.js')
    | &nbsp;to shadow our light-hearted development talk, or cloning our&nbsp;
    a(href='https://github.com/WestlakeAPC') GitHub projects
    | . We'd be delighted to have extra members, however inexperienced!
h1
    a#open-source.anchor(href='#open-source', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Open Source
p
    | As a software development club, we're actively involved in the open source community! Wherever possible, projects
    | will be licensed under&nbsp;
    a(href="https://www.apache.org/licenses/LICENSE-2.0") Apache 2.0,&nbsp;
    | optionally with Apple's Runtime Library Exception, for maximum compatibility with the&nbsp;
    a(href="https://swift.org/") Swift.org open source project
    | . However, exceptions may be made, so long as the project license is the least restrictive available of the following:
ul
    li
        | GNU [
        a(href="https://www.gnu.org/licenses/agpl-3.0.en.html") Affero
        | ,&nbsp;
        a(href="https://www.gnu.org/licenses/lgpl-3.0.en.html") Lesser
        | ]&nbsp;
        a(href="https://www.gnu.org/licenses/gpl-3.0.en.html") General Public License
    li
        a(href="https://www.mozilla.org/en-US/MPL/2.0/") Mozilla Public License
    li
        a(href="https://www.eclipse.org/legal/epl-v10.html") Eclipse Public License
    li
        a(href="https://opendatacommons.org/licenses/odbl/1.0/") ODC Open Database License
h1
    a#external-funding.anchor(href='#external-funding', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | External Funding Statement
p
    | The only external funding as of this time comes from Joseph Jin’s reserves, to maintain and renew the Apple
    | Developer account we publish our apps under. We will never monetize published applications, through ads, in-app
    | purchases, outright fees, or any other method. We reserve the right to accept external donations, or to
    | crowdfund when we do require extra monetary resources.
