| ---
| layout: default
| title: Homepage
| ---
| &nbsp;

h1
    a#our-purpose.anchor(href='#our-purpose', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Our Purpose
p
    | The Westlake Accessible Programming Club, or simply APC, is an in-school venture to help explain basic logical
    | concepts in a way that tailors to students’ individual learning styles. With three skilled mentors secured for
    | the club, (
    a(href="profiles/josephjin.html")
        | Joseph Jin
    | ,&nbsp;
    a(href="profiles/elibradley.html")
        | Eli Bradley
    | , and
    a(href="profiles/samhollenbeck.html")
        | Sam Hollenbeck
    | ,) whose games and utilities have already managed to pass
    | Apple’s strict App Review process, we think exploration of the concepts that power everything from server to
    | front-end will be easier than ever. Also, we aim to recruit the best of our members into the board for our app
    | publisher, the ‘API Abusers.’
h1
    a#current-projects.anchor(href='#current-projects', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Current Projects
table
    tr#DeathDodger
        td(style='width: 25%')
            a(href='https://github.com/WestlakeAPC/death-dodger', target='_blank')
                img.project-icon(src='images/deathdodger.png', alt="Death Dodger")
        td
            a(href='https://github.com/WestlakeAPC/death-dodger', target='_blank', style='color: #606c71; text-decoration:none;')
                h1
                    | Death Dodger
                | Our first game: You need to move Jim left and right to avoid being killed by the Falling Sky Knives
                | in this awesome SpriteKit template. Free to use and free to play from the monkeys behind the curtain.
    tr#FlappySmasher
        td(style='width: 25%')
            a(href='https://github.com/WestlakeAPC/flappy-smasher', target='_blank')
                img.project-icon(src='images/flappysmasher.png', alt="Flappy Smasher")
        td
            a(href='https://github.com/WestlakeAPC/flappy-smasher', target='_blank', style='color: #606c71; text-decoration:none;')
                h1
                    | Flappy Smasher
                | A simple Swift 3.0 game, targeting the iOS/tvOS SDK 9.3, about shooting down flappy birds. We think
                | it's a great resource to learn about Collection type behaviour in the newest version of Swift.
    tr#NeuralKit
        td(style='width: 25%')
            a(href='https://github.com/WestlakeAPC/NeuralKit', target='_blank')
                img.project-icon(src='images/NeuralKit.png', alt="NeuralKit")
        td
            a(href='https://github.com/WestlakeAPC/NeuralKit', target='_blank', style='color: #606c71; text-decoration:none;')
                h1
                    | NeuralKit
                | A Swift 3.0 library meant as a skeleton for low-level neural nets and other important models in deep
                | earning. It's also meant to teach a bit about data structures in the newest version of Swift.
h1
    a#meeting-schedule.anchor(href='#meeting-schedule', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Meeting Schedule
p
    | Meetings will happen in Mr. Rosier's room (276) at 4:15 PM on Thursdays, and may last for about an hour. We
    | encourage you to come and see what's up! However, the meetings are always voluntary for students. We can always
    | message you the meeting summaries, and in fact, most work gets done elsewhere! Whatever schedule complications
    | you have, we're willing to adapt to them.
h1
    a#want-to-join-yet.anchor(href='#want-to-join-yet', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Want to join yet?
p
    | All Eanes ISD students are eligible to participate! Contact&nbsp;
    a(href='mailto:elijos03@gmail.com') Eli Bradley&nbsp;
    | or&nbsp;
    a(href='mailto:lrosier@eanesisd.net') Lynn Rosier&nbsp;
    | for more information on signing up. If you just can't
    | wait, you can start today by signing up for our Slack group&nbsp;
    script(async='', defer='', src='https://westlakeapc.herokuapp.com/slackin.js')
    | &nbsp;to shadow our light-hearted development talk, or cloning our&nbsp;
    a(href='https://github.com/WestlakeAPC') GitHub projects
    | . We'd be delighted to have extra members, however inexperienced!
h1
    a#external-funding.anchor(href='#external-funding', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | External Funding Statement
p
    | The only external funding as of this time comes from Joseph Jin’s reserves, to maintain and renew the Apple
    | Developer account we publish our apps under. We will never monetize published applications, through ads, in-app
    | purchases, outright fees, or any other method. We reserve the right to accept external donations, or to
    | crowdfund when we do require extra monetary resources.
