| ---
| layout: default
| title: Eli Bradley
| ---
| &nbsp;

img(src="/images/EliBradley.jpg", alt="Eli Bradley", style="width: 25%")
h1
    a#our-purpose.anchor(href='#eli-bradley', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Eli Bradley

p
    | Eli Bradley is our club's lead programmer.
ul
    li
        | Maintains and manages the repositories.
    li
        | Authorizes all content deletion and regulation in official code repositories
    li
        | Responsible to update repositories.

h2
    | Contact me!

div(class="github-card" data-user="ethertyper" style="right: inherit")
script(src="//cdn.jsdelivr.net/github-cards/latest/widget.js")

p
    | PGP Fingerprint:
    | 68D6 6FE1 19AA B17E 6871  F68D 3ADE B687 66BC B3C2
p
    | Email address:&nbsp;
    a(href="mailto:elijos03@gmail.com")
        | elijos03@gmail.com