| ---
| layout: default
| title: Joseph jin
| ---
| &nbsp;

img(src="images/JosephJin.jpg", alt="Joseph Jin", style="width: 25%")
h1
    a#our-purpose.anchor(href='#joseph-jin', aria-hidden='true')
        span.octicon.octicon-link(aria-hidden='true')
    | Joseph Jin
p
    | Joseph Jin is our club's president.
ul
    li
        | Organizes meetings.
    li
        | Sets project goals.
    li
        | Maintains published apps.
    li
        | Authorizes all major club projects.
    li
        | Responsible for public relations.
    li
        | Responsible to update repositories.